
$primarycolor:#12829b;
$accentcolor: #36da5a;
$white: #fff;
$black: #000;
$textcolor: #616161;
$layout-breakpoint-large: 1200px;
$layout-breakpoint-tablet: 865px;

body{
    color: $primarycolor;
    background-color: #f5f5f5;
    margin: 0px;
    background-size: cover;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    .reveal {
        opacity: 0;
        transform: translateY(100px);
        transition: opacity 0.6s ease-out, transform 0.6s ease-out;
      }
      .reveal.visible {
        opacity: 1;
        transform: translateY(0);
      }
    .container{
        max-width: 1200px;
        margin: 0 auto;
        @media (max-width: $layout-breakpoint-large) {
            max-width: 90%;
          }
    }
    .scrolled{
        opacity: 1;
        transition: opacity 0.6s ease-out, 
        transform 0.6s ease-out;
    }
    header{
        //background: transparent;
        position: fixed;
        width: 100%;
        top: 0px;
        left: 0px;
        z-index: 1000;
        background: $accentcolor;
        height: 80px;
        opacity: 0;
        transition: opacity 0.6s ease-in, 
        transform 0.6s ease-in;
        .container{
            max-width: 1024px;
            margin: 0 auto;
            .top{
                height: 80px;
                display: flex;
                justify-content: end;
                .top-navi{
                    display: flex;
                    justify-content: end;
                    align-items: center;
                    a{
                        text-decoration: none;
                        padding-left: 2em;
                        color: $white;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
    .hero{
        background-color: $primarycolor;
        height: 100vh;
        //margin-top: 80px;
        display: flex;
        align-items: center;
        color: $white;
        .container{
            max-width: 1024px;
            margin: 0 auto;
            width: 100%;
            .hero-flex{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                .hero-left{
                    text-align: center;
                    //font-weight: 100;
                    .large-name{
                        font-size: 35px;
                        font-weight: 600;
                    }
                    .resume-button{
                        text-decoration: none;
                        border: 2px solid $white;
                        padding: 10px 15px;
                        color: $white;
                        margin-top: 20px;
                        border-radius: 15px;
                        font-weight: 500;
                        &:hover{
                            background-color: $accentcolor;
                            transition: ease-in .3s;
                        }
                    }
                }
            }
        }
    }
    .about-me{
        min-height: 500px;
        padding: 40px 0px;
        .container{
            #about-details{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                @media (max-width: $layout-breakpoint-tablet) {
                    flex-direction: column-reverse;
                  }
                #about-left{
                    width: 60%;
                    font-weight: 100;
                    @media (max-width: $layout-breakpoint-tablet) {
                        width: 100%;
                    }
                    .large-name{
                        font-size: 35px;
                        font-weight: 200;
                    }
                    h2{
                        animation: slideInLeft 0.75s ease both;
                    }
                    p{
                        color: #616161;
                        font-weight: 400;
                        line-height: 25px;
                    }
                    .resume-button{
                        text-decoration: none;
                        border: 2px solid $primarycolor;
                        padding: 10px 15px;
                        color: $primarycolor;
                        margin-top: 20px;
                        border-radius: 15px;
                        font-weight: 500;
                        &:hover{
                            background-color: $accentcolor;
                            transition: ease-in .3s;
                        }
                    }
                }
                #about-right{
                    width: 35%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    &:before{
                        content: '';
                        background-color: rgba(51, 83, 132, 0);
                        border-radius: 100px;
                        transition: all ease 0.2s;
                    }
                    img{
                        border-radius: 200px;
                        width: 100%;
                    }
                }
            }
        }
    }
    .skills{
        //background: #81a3cd;
        min-height: 450px;
    }

    .work-portfolio{
        background-color: #f5f5f5;
        min-height: 450px;
        padding-bottom: 100px;
        font-size: 14px;
        .container{
            h2{
                font-size: 34px;
            }
            #portfolio-work{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                .portfolio-display{
                    width: 45%;
                    display: flex;
                    flex-direction: column;
                    min-height: 600px;
                    @media (max-width: $layout-breakpoint-tablet) {
                        width: 100%;
                    }
                    .portfolio-image{
                        width: 100%;
                        min-height: 350px;
                        img{
                            width: 100%;
                            height: auto;
                        }
                    }
                    .portfolio-details{
                        width: 100%;
                        //margin: 0px 20px 0px 20px;
                        color: $textcolor;
                        h2{
                            margin: 0;
                            margin-block-start: 0px;
                            margin-block-end: 0px;
                        }
                        p{
                            line-height: 25px;
                        }
                    }
                }
            }
        }
    }
    footer{
        background-color:$primarycolor ;
        position: fixed;
        bottom: 0px;
        width: 100%;
        margin: 0 auto;
        opacity: 0;
        transition: opacity 0.6s ease-in, 
        transform 0.6s ease-in;
        p{
            text-align: center;
            color: #fff;
        }
    }
}