
$primarycolor:#12829b;
$accentcolor: #36da5a;
$white: #fff;
$black: #000;
body{
    color: $primarycolor;
    margin: 0px;
    //height: 2000px;
    font-family: 'Martel Sans', sans-serif;
    //background-image: url(../images/filler.png);
    background-size: cover;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    .container{
        max-width: 1200px;
        margin: 0 auto;
    }
    h3{
        margin: 0px;
        text-align: center;
    }
    header{
        //background: transparent;
        position: fixed;
        width: 100%;
        top: 0px;
        left: 0px;
        z-index: 1000;
        background: $accentcolor;
        height: 80px;
        .container{
            max-width: 1024px;
            margin: 0 auto;
            .top{
                height: 80px;
                display: flex;
                justify-content: end;
                .top-navi{
                    display: flex;
                    justify-content: end;
                    align-items: center;
                    a{
                        text-decoration: none;
                        padding-left: 2em;
                        color: $white;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
    .hero{
        //background-color: #81a3cd;
        height: 500px;
        margin-top: 80px;
        display: flex;
        align-items: center;
        .container{
            max-width: 1024px;
            margin: 0 auto;
            width: 100%;
            .hero-flex{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                .hero-left{
                    width: 60%;
                    //font-weight: 100;
                    .large-name{
                        font-size: 35px;
                        font-weight: 600;
                    }
                }
            }
        }
    }
    .about-me{
        //background-color: aliceblue;
        min-height: 450px;
        .container{
            #about-details{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                #about-left{
                    width: 60%;
                    font-weight: 100;
                    .large-name{
                        font-size: 35px;
                        font-weight: 200;
                    }
                    p{
                        color: #616161;
                    }
                }
                #about-right{
                    width: 35%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    &:before{
                        content: '';
                        background-color: rgba(51, 83, 132, 0);
                        border-radius: 100px;
                        transition: all ease 0.2s;
                    }
                    img{
                        border-radius: 200px;
                        width: 100%;
                    }
                }
            }
        }
    }
    .skills{
        background: #81a3cd;
        min-height: 450px;
    }

    .work-portfolio{
        background-color: #f5f5f5;
        min-height: 450px;
        padding-bottom: 100px;
        font-size: 14px;
        .container{
            #portfolio-work{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                .portfolio-display{
                    width: 45%;
                    display: flex;
                    flex-direction: column;
                    min-height: 600px;
                    .portfolio-image{
                        width: 100%;
                        min-height: 350px;
                        img{
                            width: 100%;
                            height: auto;
                        }
                    }
                    .portfolio-details{
                        width: 100%;
                        //margin: 0px 20px 0px 20px;
                        h2{
                            margin: 0;
                            margin-block-start: 0px;
                            margin-block-end: 0px;
                        }
                    }
                }
            }
        }
    }
    footer{
        background-color:#04c2c9 ;
        position: fixed;
        bottom: 0px;
        width: 100%;
        margin: 0 auto;
        p{
            text-align: center;
            color: #fff;
        }
    }
}